---
---

@import "minima";   // pulls in the theme from _sass/minima
// add overrides below so they cascade after the theme

$post-card-gap: $spacing-unit * 0.5;


$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list > li {
  margin-bottom: 0px;
}

.post-link {
  margin: 0;
  padding: $post-card-gap*0.5 $post-card-gap ;
  color:  $text-color;
  background: lighten($brand-color, 40%);
  border: 0;

  .post-meta {
    margin: 0;
    font-size: $small-font-size;
  }

  & + .post-excerpt {
    margin: 0 0 $post-card-gap;
    padding: $post-card-gap 0;
    background: $background-color;


  }
}
