---
---

@import "minima";   // pulls in the theme from _sass/minima
// add overrides below so they cascade after the theme

$gap: $spacing-unit * 0.5;

a.site-title, a.site-title:visited {
  font-weight: 600;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-list > li {
  margin-bottom: 0px;
}

.post-link {
  margin: 0;
  padding: $gap*0.5 $gap ;
  color:  $text-color;
  background: lighten($brand-color, 40%);
  border: 0;

  .post-meta {
    margin: 0;
    font-size: $small-font-size;
    display: flex;
    justify-content: space-between;
    align-items: right;

    .tag {
      display: inline-flex;
      background: lighten($brand-color, 45%);
      padding: 0 $gap*0.5;
      margin-left: $gap*0.5;

      &:first-of-type {
        margin-left: auto;
      }
    }
  }

  & + .post-excerpt {
    margin: 0 0 $gap;
    padding: $gap 0;
    background: $background-color;


  }
}
